<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Car</title>
</head>
<body>
    <h1>Create New Car</h1>
    <fieldset>
        <legend>Create a new Car:</legend>
        <form class="" action="/create" method="post">
            <div class="">
                Name: <input type="text" name="name" value="">
            </div>
            <div class="">
                engine: <input type="text" name="engine" value="">
            </div>
            <div class="">
                Color: <input type="text" name="color" value="">
            </div>
            <input type="submit" name="submit" value="Create">
        </form>

    </fieldset>
</body>
</html>
