<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Products</title>
        <style media="screen">
            body{
                width: 600px;
                position: relative;
                left: 200px;
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
            }
            .box{
                margin: 10px;
                padding: 10px;
                width: 500px;
                height: auto;
                border: .5px solid black;
                border-radius: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Product</h1>
        {% for book in books %}
                <div class="box">
                    <p><h3>{{book.title}}</h3></p><br>
                        <p> Author : <i><b>{{book.author}}</b></i></p>
                        <p>Published : {{book.published_date}}</p>
                        <p><span>category :</span> {{book.category}}
                </div>
        {% endfor %}
    </body>
</html>
