*{
    margin:0px;
    padding:0px;
}
body{
    margin:auto;
    text-align: center;
}

.show{
    margin:auto;
}

form{
    margin:auto;
    padding: 10px;
    width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: .5px solid black;
    border-radius: 10px;
}
input{
    line-height: 20px;
}
.title_{
    margin:10px;
    width: 700px;
}
.category_{
    width: 400px;
    margin: 10px;
    width: 200px;
}
.btn{
    width: 150px;
}

table {
    margin: auto;
    width: 600px;
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
