<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninjas</title>
        <style media="screen">
            body{
                margin:auto;
                text-align: center;
            }
        </style>
    </head>
    <body>
        {% load staticfiles %}
        <h1>Ninja actor:</h1>
        <h1>{{image}}</h1>
        <img height="250" width="250" src="{% static 'dis_ninja_app/images/'%}{{image}}.jpg">
        <h3><a href="/">Go-back</a></h3>
    </body>
</html>
