<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja</title>
    </head>
    <body>
        <h1>Ninja</h1>
        <img height="250" width="250" src="{{ url_for('static', filename='img/donatello.jpg') }}"><a href="/ninja/purple">purple</a>
        <img height="250" width="250" src="{{ url_for('static', filename='img/leonardo.jpg') }}"><a href="/ninja/blue">Blue</a>
        <img height="250" width="250" src="{{ url_for('static', filename='img/michelangelo.jpg') }}"><a href="/ninja/orange">Orange</a>
        <img height="250" width="250" src="{{ url_for('static', filename='img/raphael.jpg') }}"><a href="/ninja/red">Red</a>
    </body>
</html>
