<div>

    <fieldset>
        <legend>Player 1</legend>
        <label>Username One:</label> <input #userName />
        <button (click)="getUser1(userName.value); userName.value=''">
          Get Username One
        </button>
    </fieldset>
    <fieldset>
        <legend>Player 2</legend>
        <label>Username Two:</label> <input #userName />
        <button (click)="getUser2(userName.value); userName.value=''">
          Get Username Two
        </button>
    </fieldset>
</div>

        <!-- <form (submit1)="getUser1()" >
            Github username One: <input type="text" [(ngModel)]="user.name" #user1= ngModel><br>
            <input class="submit" type="submit" name="submit1" value="Get User">
        </form>
        <div *ngIf="user1">

        </div>
    </fieldset>

    <fieldset>
        <legend>Player 2</legend>
        <form (submit2)="getUser2()" >
            Github username Two: <input type="text" [(ngModel)]="user.name" #user2= ngModel><br>
            <input class="submit" type="submit" name="submit2" value="Get User">
        </form>
    </fieldset> -->

    <!-- <form #f="ngForm" (ngSubmit)="getUser1(f)" novalidate>
      <input name="username" ngModel required #user-name="ngModel">
      <input name="last" ngModel>
      <button>Submit</button>
    </form>

    <p>First name value: {{ user-name.value }}</p> -->
    <!-- <p>First name valid: {{ first.valid }}</p>
    <p>Form value: {{ f.value | json }}</p>
    <p>Form valid: {{ f.valid }}</p> -->


    <!-- <fieldset> -->

<div class="box">

</div>
