/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#container{
 width: 970px;
 background-color: #003366;
 margin: 0px auto;
 font-family: sans-serif;
 color: aqua;
 font-size: 14px;
 padding:5px;
}
h1{
    margin: 5px;
}

p{
    margin:5px;
}
#header{
    height: 100px;
    background-color: #ff0000;
    margin: 20px;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
    text-align: left;
}

#header h1{
    color: aqua;
    font-size: 30px;
    margin:20px;
}
#navigation{
    height: 300px;
    width: 200px;
    background-color: #339999;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 5px;
    border: 0px;
    border-radius: 10px;
}
#navigation a{ color: aqua;}
#navigation ul{padding:0px;}
#navigation ul{margin-left:25px; color:white;}
#navigation ul li a{color: aqua;}
#main_content{
    height: 400px;
    width: 680px;
    background-color: #000033;
    display: inline-block;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
}

#main_content ul{padding: 0px;}
#main_content ul{margin-left: 25px;}
#main_content ul li{margin-top: 4px;}
#main_content ul li a{color: aqua;}

#advertisement{
    height: 75px;
    background-color: #339999;
    margin: 0 20px 20px 20px;
    padding-top:25px;
    padding-left: 25px;
    border: 0px;
    border-radius: 10px;
}
#advertisement span{color:aqua;}
#advertisement span a{color: #33ccff;}
