<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Time Display</title>
        <style media="screen">
            .wrapper{margin: auto;}
            .current{text-align: center;border: .5px solid black; margin:10px;}
            .display{margin: auto;padding: 20px; font-size: 20px;}
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="current">
                <p>The current time and date </p>
            </div>
            <div class="display">
                {{dateTime}}
            </div>
        </div>
    </body>
</html>
